@font-face{
    font-family: 'Montserrat', sans-serif;
    src: url('../../Assets/Fonts/Montserrat-Italic-VariableFont_wght.ttf')

}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');


body{
    margin: 0;
    padding: 0;
    
}
.img{
    width: 100%;
    height: 100%;
}
.main-reservas{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.h1{
    position: absolute;
    top: 20%;
    font-family: 'Montserrat';
    font-weight: 100;
    font-size: 5vw;
    color: white;
    text-shadow: 4px 4px 5px #000000;
}
.formulario{
    width: 95vw;
    height: 13vw;
    top: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    justify-content: center;
    background-color:#e58d1a;
    padding: 5vw;
    border-radius: 20px;
    box-shadow: 2px 2px rgba(255, 253, 253, 0.549);
}
.txt-form{
    font-family:'Montserrat';

}
.conteiner-input{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    
}
.div-form{
    display: flex;
    gap: 10px;
    place-items: center;
    flex-direction: column;

}
.num-reserva{
    width: 9vh;
    height: 2vh;
}
.quantidade{
    width: 5vh;
    height: 3vh;
}
.botao{
    display: flex;
    margin: 10px;
    gap: 5vh;
   justify-content: center;
}
.button-enviar{
    font-size: 2vh;
    padding: 5%;
    border-radius: 4px;
    font-size: 'Montserrat';
    background-color: #ffb703;
    border: none;
    color: white;
    text-shadow: 2px 2px black;   
    box-shadow: 2px 2px rgba(0, 0, 0, 0.549);
    cursor: pointer;
}
.button-deletar{
    font-size: 2vh;
    border-radius: 4px;
    font-size: 'Montserrat';
    background-color: #ffb703;
    border: none;
    color: white;
    text-shadow: 2px 2px black;   
    box-shadow: 2px 2px rgba(0, 0, 0, 0.549);
    cursor: pointer;
}
.button-atualizar{
    font-size: 2vh;
    border-radius: 4px;
    font-size: 'Montserrat';
    background-color: #ffb703;
    border: none;
    color: white;
    text-shadow: 2px 2px black;   
    box-shadow: 2px 2px rgba(0, 0, 0, 0.549);
    cursor: pointer;
}
.txt-lista{
    font-family: 'Montserrat';
    font-weight: 100;
    font-size: 5vh;
    color: black;
}
.sessao-reservas{
    display: flex;
    width: 100%;
    place-items: center;
    flex-direction: column;

}
.container-lista{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;

}
.lista{
    background-color: #e58d1a;
    width: 30%;
    list-style: none;
    margin: 20px;
}
.lista-p{
    display: flex;
    margin: 10px;

}


@media (max-width:700px){
    .img{
        display: none ;
    }
    .formulario{
        position: relative;
        display: flex;
        flex-direction: column;
        border-radius: 0px; 
        width: 100%;
        height: 100%;
        justify-content: center;

    }
    .conteiner-input{
        display: flex;
        flex-direction: column;
        justify-content: space-around;   
        margin: 1vh;
    }
    .div-form{
        display: flex;
        flex-direction: row;
        margin: 2vh;
    }
    .lista{
        width: 100%;
    }

}